<div class="text-center">
  <h2 class="text-3xl font-semibold text-gray-900"><%= title %></h2>
  <p class="mt-2 text-sm text-gray-600">
    <%= subtitle %>
    <%= link_to link_text, link_path, class: "text-blue-600 hover:underline" %>
  </p>
</div> 