<div id="post">
  <% if pagy.next %>
    <%= link_to(
      "Load more posts",
      posts_path(page: pagy.next),
      class: "invisible",
      data: { 
        turbo_stream: "",
        controller: "autoclick" }
    ) %>
  <% end %>
</div>
